html body {
    height: 100%;
  }
.container{
    height: 100vh;
    /* border: solid; */
}

.titleChat{
    width: 70%;
    float: right;
    /* border: solid; */
    display: grid;
    grid-template-columns:  auto;
    height: 7%;
    background: rgb(44, 43, 57);
    border-radius: 0.2vw;
    color: rgb(227, 221, 207);
    margin-top: 1vh;

}
.nameOfChat{
    font-weight: 800;
    font-size:3vh;
    line-height: 40px;
    text-align: center;
    /* border: solid; */
    transition: 1s;
    cursor: pointer;
}
.nameOfChat img{
    width: 27px;
    position: absolute;
    margin-top: 7px;
    opacity: 0.6;
}
.nameOfChat:hover{
    background-color: rgb(10, 10, 33);
    opacity: 0.6;
}
.chat{
    width: 70%;
    float: right;

    list-style: none;
    background: none;
    margin: 0;       
    margin-top: 0.4vw;
    height: 64%;
    /* border: solid; */
    color: rgb(227, 221, 207);
   
}

.message-container{
    width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
 
.boxMessage{
    /* border: solid; */
    width: 85%;
    grid-column-start: 1;
    display: grid;
    grid-template-columns: 5vh auto;
}
.boxMessage li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
    
}
.imageUserMessage{
    
    width: 5vh;
    height: 5vh;
    margin-right: 0.2vw;
}
.imageUserMessage img{
    width: 100%;
    border-radius: 100%;
    height: 100%;
}
.other .msg {
    border-top-left-radius: 0px;
    box-shadow: -1px 2px 0px rgb(44, 43, 57);
    background-color: rgb(11, 37, 15);
} 
 
  .other:before {
    content: "";
    position: relative;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    border: 5px solid #263137;
    border-left-color: transparent;
    border-bottom-color: transparent;
} 


.msg {
    background: #263137;
    min-width: 14vh;
    padding: 1vw;
    border-radius: 14px;
    word-break: break-all;
}

.msg .user {
    font-size: medium;
    color: rgb(207, 36, 36);

    font-weight: 900;
    margin-top: -0.2vw;
    /* margin-bottom: 0.2vw; */
    transition: all .2s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.msg .user .range.admin {
    display: inline-block;
    /* font-size: 0.8vh; */
    font-weight: 300;
    color: #6aea96;
    padding: 0.5vw;
    border-radius: 0.3vw;
    border: solid 1px #6aea96;
    background: rgba(255,255,255,0);
    margin-left: 0.5vw;
    font-size: 1vw;

}
.msg p {
    font-weight: 500;
    margin: 0 0 0 0;
    color: rgb(227, 221, 207);
    margin-top: 0.4vw;
    transition: all .2s ease;
    font-size: 1vh;
    /* text-align: c; */
    letter-spacing: 1px;
}
.msg .time {
    opacity: 0.5;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* стили для маленьких экранов, например, мобильных телефонов */
@media only screen and (max-width: 600px) {
    .chat{
        width: 100%;
    
        list-style: none;
        background: none;
        margin: 0;       
        margin-top: 0.4vw;
        height: 60%;
        /* border: solid; */
        color: rgb(227, 221, 207);
       
        }

    .titleChat{
        width: 100%;
        display: grid;
        grid-template-columns:  20% 60% auto;
        height: 7%;
        background: rgb(44, 43, 57);
        border-radius: 0.2vw;
        color: rgb(227, 221, 207);
        margin-top: 1vh;
    
    }
    .nameOfChat{
        font-weight: 800;
        font-size:3vh;
        line-height: 40px;
        text-align: center;
        /* border: solid; */
        transition: 1s;
        cursor: pointer;
    }
    .nameOfChat img{
        width: 27px;
        position: absolute;
        margin-top: 7px;
        opacity: 0.6;
    }
    .msg p {
      font-size: 14px;
      margin:1.4vh 2vw 0vh 1vw;

    }
    .msg .user{
        font-size: 18px;
      }
      .msg .user:hover{
        cursor: pointer;
        color: rgb(108, 68, 68);
    }
      .msg .time {
        opacity: 0.5;
        float: right;
        cursor: default;
        font-size: 12px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

  }
  
 
  
  /* стили для средних экранов, например, планшетов */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    .chat{
        width: 100%;
        float: right;
    
        list-style: none;
        background: none;
        margin: 0;       
        margin-top: 0.4vw;
        height: 60%;
        /* border: solid; */
        color: rgb(227, 221, 207);
       
        }
        .titleChat{
            width: 100%;
            display: grid;
            grid-template-columns:  20% 60% auto;
            height: 7%;
            background: rgb(44, 43, 57);
            border-radius: 0.2vw;
            color: rgb(227, 221, 207);
            margin-top: 1vh;
        
        }
        .nameOfChat{
            font-weight: 800;
            font-size:3vh;
            line-height: 40px;
            /* border: solid; */
            text-align: center;
        }
        .msg p {
            font-size: 14px;
            margin:1.4vh 2vw 0vh 1vw;
      
          }
          .msg .user{
              font-size: 18px;
            }
            .msg .user:hover{
                cursor: pointer;
                color: rgb(108, 68, 68);
            }
            .msg .time {
                opacity: 0.5;
                float: right;
                cursor: default;
                font-size: 12px;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
            }
  }
  
  /* стили для больших экранов, например, настольных компьютеров */
  @media only screen and (min-width: 1025px) {
    .arrowBox{
        display: none;
    }
    .msg .user{
        font-size: 20px;
        cursor: pointer;
        transition: 0.2s;
      }
      .msg .user:hover{
        font-size: 20px;
        cursor: pointer;
        color: rgb(108, 68, 68);
    }
    .msg p {
      font-size: 17px;
    }
  }






/* сообщение пользователя (копия CSS ПЕРВОГО СООБЩЕНИЯ НО С НЕБОЛЬШИМИ ПРАВКАМИ) */

.boxMessageOwn{
    /* border: solid; */
    grid-column-start: 1;
    display: grid;
    width: 85%;
    margin-left: 14%;
    grid-template-columns:  auto 6vh ;
    /* grid-template-columns: 5vh auto; */
}
.boxMessageOwn li {
    padding: 0.4rem;
    overflow: hidden;
}
.imageUserMessageOwn{
     /* border: solid; */
    width: 5vh;
    height: 5vh;
    border-radius: 100%;
    /* grid-column-start: 3; */
}
.imageUserMessageOwn img{
    border-radius: 2vw;
    width: 100%;
    border-radius: 100%;
    height: 100%;
}
.otherOwn {
    display: flex;
    justify-content: flex-end;
}
.otherOwn .msgOwn {
    
    border-top-left-radius: 0px;
    box-shadow: -1px 2px 0px rgb(44, 43, 57);
} 

  
.otherOwn:after {
    content: "";
    position: relative;
    top: 0px;
    right: 0px;
    left: -11px;
    width: 0px;
    height: 0px;
    border: 10px solid #272728;
    border-right-color: transparent;
    border-bottom-color: transparent;
} 


.msgOwn {
    background: #272728;
    float: right;
    min-width: 14vh;
    padding: 1vw;
    border-radius: 14px;
    word-break: break-all;  
}
.msgOwn .time {
    margin-top: 0.1vw;
    opacity: 0.5;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
/* 
.msgOwn .userOwn .range.adminOwn {
    display: inline-block;
    font-weight: 300;
    color: #6aea96;
    padding: 0.5vw;
    border-radius: 5px;
    border: solid 1px #6aea96;
    background: rgba(255,255,255,0);
    margin-left: 0.5vw;
    font-size: 1vw;

} */



/* стили для маленьких экранов, например, мобильных телефонов */
@media only screen and (max-width: 600px) {
  
    .msgOwn {
        background: #272728;
        float: right;
        
        min-width: 14vh;
        padding: 2vh;
        border-radius: 14px;
        word-break: break-all;  
    }
    .otherOwn:after {
        content: "";
        position: relative;
        top: 0px;
        right: 0px;
        left: -10.5px;
        width: 0px;
        height: 0px;
        border: 10px solid #272728;
        border-right-color: transparent;
        border-bottom-color: transparent;
    } 
  
    .msgOwn .userOwn {
        font-size:18px;
        margin: 0 0 0.2vh 0;
        color: rgb(128, 196, 33);
        margin-top: -0.2vw;
        margin-bottom: 0.2vw;
        transition: all .2s ease;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        transition: 0.2s;
        cursor: pointer;
    }

    .msgOwn .userOwn:hover {
        color: #71927d;
    }
        .msgOwn p {
            font-weight: 500;
            /* margin: 0 0 0.02vw 0; */
            color: rgb(227, 221, 207);
            transition: all .2s ease;
            font-size: 14px;
            /* text-align: c; */
            letter-spacing: 1px;
         margin:1vh 2vw 0vh 1vw;

        }
        .msgOwn .time {
            margin-top: 1px;
            font-size: 12px;
            opacity: 0.5;
            float: right;
            cursor: default;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }
        .textFieldContainer{
            width: 100%;
    
        }
  }
 
  
  /* стили для средних экранов, например, планшетов */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
  
    .msgOwn {
        background: #272728;
        float: right;
        
        min-width: 14vh;
        padding: 2vh;
        border-radius: 14px;
        word-break: break-all;  
    }
    .otherOwn:after {
        content: "";
        position: relative;
        top: 0px;
        right: 0px;
        left: -11.5px;
        width: 0px;
        height: 0px;
        border: 10px solid #272728;
        border-right-color: transparent;
        border-bottom-color: transparent;
    } 
    .msgOwn p {
        font-size: 14px;
        font-weight: 100;
      margin:1.4vh 2vw 0vh 1vw;

    }
    .msgOwn .userOwn {
        font-size:18px;
        margin: 0 0 0.2vh 0;
        color: rgb(128, 196, 33);
        margin-top: -0.2vw;
        margin-bottom: 0.2vw;
        transition: all .2s ease;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        transition: 0.2s;
        cursor: pointer;
    }

    .msgOwn .userOwn:hover {
        color: #71927d;
    }
    .msgOwn .time {
        margin-top: 1px;
        font-size: 12px;
        opacity: 0.5;
        float: right;
        cursor: default;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
      .textFieldContainer{
        width: 100%;
    }
  }
  
  /* стили для больших экранов, например, настольных компьютеров */
  @media only screen and (min-width: 1025px) {
    
    .msgOwn p {
        font-size: 17px;
        margin-top: 3px;
        margin-bottom: 1.4px;
    }
    .msgOwn .userOwn {
        font-size:19px;
        margin: 0 0 0.2vh 0;
        color: rgb(128, 196, 33);
        transition: all .2s ease;
        font-weight: 900;

        transition: 0.2s;
        cursor: pointer;
    }

    .msgOwn .userOwn:hover {
        color: #71927d;
    }
      .textFieldContainer{
        width: 70%;
        float: right;
    }
  }






/* отправка сообщения */

.sendMessage{
    float: right;
    color: white;
    opacity: 1;
    cursor: pointer;
    transition: 0.2s;

}
.sendMessageDisable{
    float: right;
    color: white;
    opacity: 0.1;
}
.emoji{

    position: absolute;
    /* color: white; */
    margin-left: 450px;
    margin-top:-460px;
    /* border: solid; */
    cursor: pointer;

}
.emojiOpen{
    float: right;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .emojiOpen{
        display: none;
    }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .emojiOpen{
        display: none;
    }
}
::-webkit-scrollbar {
    width: 0.4vw; /* ширина для вертикального скролла */
    height: 0.2vw; /* высота для горизонтального скролла */
    border-radius: 9em;
    /* background-color: #1b1584; */
    /* background: rgb(44, 43, 57); */

}
::-webkit-scrollbar-thumb {

    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #757b79;
    background-color: #ced3d7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #818fa9;
}

.setChatAnunt{
    /* border: solid; */
    text-align: center;
    padding-top: 20%;
}
  



.nameOfChatDisableOnMobile{
    display: none;
}
.chatDisableOnMobile{
    display: none;
}
.textFieldContainerDisableOnMobile{
    display: none;
}